
* {box-sizing: border-box;}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: yellow;
}

.container {
  border-radius: 5px;
  background-color: darkgreen;
  padding: 70px;
}

.container div h2{
  color: white;
}

.header-flex-container {
    padding: 60px;
    background-color: #1F2937;
    color: white;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
  } 

/* Header flexbox */
.logo {
    /* width: 180px; */
    /* height: 150px; */
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 30px;
  }

.header-flex-container div {
    flex: 1 1 0%;
}

.header-flex-container .welcome-text {
    flex: 1 1 0%;
}
/* header subtext font */
.header-flex-container p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-flex-container h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

/* See more gallery button */
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: darkgreen;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


/* Add a background color to the top navigation */
.topnav {
    background-color: #1F2937;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: darkgreen;
    color: white;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  h2 {
    text-align: center;
  }

  #specialties{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 50px;
  }

  #specialties div {
    flex: 1;
    border: 2px solid darkgreen;
    border-radius: 12px;
    padding: 5px;
  }

  #specialties div:hover {
    background-color: darkgreen;
  }




  #about {
    background-color: #E5E7EB;
  }

  .about-me {
    font-size: 36px;
    font-weight: bolder; 
    color: #1F2937;
    text-align: center;
    padding: 20px;
  }

  .about-text {
    font-size: 24px;
    text-align: center;
  }

  